.test-transformer-receiver {
  line-height: 1.5;
}

.test-transformer-receiver__container {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  padding: 8px 16px;
}

.test-transformer-receiver__indent {
  margin-bottom: 4px;
  margin-left: 8px;
}
