<div class="test-transformer-receiver">
  <div class="test-transformer-receiver__container">
    <div>Receiver Transformer State</div>
    <div class="test-transformer-receiver__indent">
      <div>Async Value:</div>
      <div class="test-transformer-receiver__indent">Value: {{(asyncValue$ | async).value}}</div>
      <div class="test-transformer-receiver__indent">State: {{(asyncValue$ | async).state}}</div>
    </div>
    <div class="test-transformer-receiver__indent">Threshold: {{(threshold$ | async).threshold}}</div>
    <div class="test-transformer-receiver__indent">
      <div>Ids:</div>
      <div *ngFor="let id of (ids$ | async)" class="test-transformer-receiver__indent test-transformer-receiver__object">
        {{id}}
      </div>
      <div>Names:</div>
      <div *ngFor="let name of (names$ | async)" class="test-transformer-receiver__indent test-transformer-receiver__object">
        {{name}}
      </div>
    </div>
  </div>
</div>
